html {
	font-size: 100%;
}

body {
	font-family: Verdana;
}
body div{
	display : block;
}

.header {
	background: #676767;
	color: #fff;
	height : 30px;
}
.header div{
	float : left;
}
.headerMenu{
	padding-right : 25px;
	padding-top : 3px;
	cursor : pointer;
}
.headerMenuRight{
	text-align : right;
	font-size : 13px;
	width : 90%;
}
.headerMenuRight div{
	float : right;
	padding-top : 6px;
	padding-right : 20px;
}
.menu {
	background: #DCEDE8;
	float: left;
	width: 150px;
	height: 95%;
}
.menu li , .headerMenuRight div a{
	text-decoration: none;
	list-style-type: none;
}
.menu li a{
	text
}
.lbl{
	text-align : center;
	
}

.body {
	background: #f7f0bb;
	height: 250px;
	padding-left: 200px;
}

.footer {
font-size : 13px;
 position: fixed;
 bottom: 0;	
 right: 0;
 height : 20px;
 left: 0;
 background-color: #efefef;
 text-align: center;
}
